.bi-c-overlay {
    $block:&;
    &--notifications, &--activeUser, &--entryOptions {
        @extend .bi-o-overlay;
        background-color: getColor(white);
        position:absolute;
        z-index: 99;
        margin-top:4px;

        a {
            align-items: start !important;
        }
    }

    &--notifications {
        right:0;
    }

    &--activeUser {
        right: 32px;
    }

    &--entryOptions {
        right: 0;
        top: getSize($huge);
    }
}