.bi-u-bgColor {
  $block:&;

  &-gray-light {
    background-color: getColor(gray-light);
  }

  &-success {
    background-color: getColor(success);
  }

  &-warning {
    background-color: getColor(warning);
  }

  &-danger {
    background-color: getColor(danger);
  }

}