.bi-l-section {
  $block:&;
  padding: 0 getGutter(regular);

  &--table-head {
    padding-top: getSize($bigger);

    .bi-u-text-headM,.bi-u-text-headS, .bi-u-text-headL {
      padding: 0 getGutter(regular);
      padding-bottom: getSize($medium);
    }

    .bi-u-text-headM + .bi-u-text-headS {
      padding-bottom: getSize($medium);
      padding-top: getSize($medium);
    }
  }
}